body {
    background-image: url(Images/flower\ wallpaper\ copy.jpeg);
}

.Table {
    border-right-style: solid;
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    align-items: center;
    border-color: rgb(183, 183, 183);
    color: black;
}

#ClickMonet {
color: black;
}

#ClickIvan {
    color: black;
}

#ClickRepin {
    color: black;
}

.Inspires {
    color: black;
}

.Effect {
    color: black;
}

.News {
    color: black;
}

.NewsL{
    
border-right-style: solid;
border-bottom-style: solid;
border-color: rgb(183, 183, 183);
}

.NewsLS{
    border-right-style: solid;
    border-color: rgb(183, 183, 183);
}

.Art{
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: rgb(183, 183, 183);
}

.ArtMKR{
    border-right-style: solid;
    border-color: rgb(183, 183, 183)
}

.PplInspire{
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: rgb(183, 183, 183);
}

.Inspire{
    border-right-style: solid;
    border-left-style: solid;
    border-color: rgb(183, 183, 183);
}

.aEffect{
    border-bottom-style: solid;
    border-color: rgb(183, 183, 183);
}


.BeautyOfArt {
    font-size: 67px;
 }

 .Evrythng {
    text-align: center;
    color: rgb(37, 37, 37);
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .Painters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "Monet Monet Monet"
"GreenDrss GreenDrss GreenDrss"
    "Kramskoi Kramskoi Kramskoi"
"Unkn Unkn Unkn"
    "Repin Repin Repin"
"IvanTrbl IvanTrbl IvanTrbl"    
    ;
 }

 .Monet {
    grid-area: Monet;
 }

 .Kramskoi{
    grid-area: Kramskoi;
 }

 .Repin {
    grid-area: Repin;
 }

 .GreenDrss {
    grid-area: GreenDrss;
 }

 .Unkn {
    grid-area: Unkn;
 }

 .IvanTrbl {
    grid-area: IvanTrbl;
 }

 .NxtPg {
    font-size: 56px;
    align-items: center;
    color: black;
 }